* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  cursor: none;
}
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c6d6c9;
  color: #ee6d56;
  letter-spacing: 4px;
}
.no-focus-outline input:focus,
.no-focus-outline textarea:focus,
.no-focus-outline button:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #c6d6c9;
  -webkit-text-fill-color: #ee6d56;
  -webkit-box-shadow: 0 0 0px 1000px #c6d6c9 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.cursor {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: none;
  position: fixed;
  border-radius: 50%;
  z-index: 999;
  border: solid 1px;
  border-color: rgb(238, 109, 86);
}

h1 {
  text-align: center;
  margin-top: 3.5rem;
  font-size: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 2.5rem 0 4rem;
}
.form-container {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

label {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
p {
  margin: 1rem 0;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
}

input, textarea {
  background-color: transparent;
  border-color: inherit;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  width: 100%;
  padding: 10px;
  font-size: 1.7rem;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

input {
  height: 70px;
}

textarea {
  height: 100px;
}

button {
  border-style: solid;
  border-color: inherit;
  border-width: 2px;
  color: inherit;
  padding: 10px 15px;
  margin-top: 1rem;
  background-color: transparent;
  letter-spacing: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #ee6d56;
  color: #c6d6c9;
}


@media only screen and (max-width: 600px) {
  .form-container {
    min-width: 350px;
    max-width: 350px;
  }
}

@media only screen and (max-width: 350px) {
  .form-container {
    min-width: 300px;
    max-width: 300px;
  }
}