
* {
  margin: 0 auto;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
}
html {
  background-color: #dbdbdb;
  color: #ee6d56;
  box-sizing: border-box;
  cursor: none;
}
:focus {
  outline: 0;
}

body {
  transition: background 1s ease-in-out, 
              color 1s ease-in-out, 
              stroke 1s ease-in-out;
}

.panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#main-panel, #about-panel {
  height: 170vh;
}

.color-pink {
  background-color: #e6c1f0;
  color: #ee6d56;
  stroke: #ee6d56;
}

.color-gray {
  background-color:#dbdbdb;
  color: #ee6d56;
  stroke: #ee6d56;
}

.color-black {
  background-color: #000;
  color: #fff;
  stroke: #fff;
}

.color-blue {
  background-color: #4b4bd3;
  color: #ee6d56;
  stroke: #ee6d56;
}

.color-green {
  background-color: #706637;
  color: #ebbcb7;
  stroke: #ebbcb7;
}
/* .color-green a:visited {
  color: #ebbcb7;
} */

.cursor {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: none;
  position: fixed;
  border-radius: 50%;
  z-index: 999;
  border: solid 1px;
  border-color: rgb(238, 109, 86);
}
body {
  overflow: auto;
}

/* NAV MENU */

.menu {
  display: none;
}

.am-nav {
  width: fit-content;
  position: fixed;
  right: 40px;
  top: 50px;
  font-size: 1.3rem;
  letter-spacing: 6px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  font-family: 'Karla', sans-serif;
  z-index: 99;
}
#am-button {
  color: inherit;
  margin-left: 5px;
  cursor: none;
}
.nav-menu {
  position: fixed;
  top: 290px;
  left: -12rem;
  z-index: 99;
  height: auto;
}
li {
  list-style: none;
  font-size: 1.5rem;
  font-family: 'Karla', sans-serif;
  letter-spacing: 6px;
}
.nav-menu ul {
  transform: rotate(-90deg);
  padding: 10px;
  border-style: solid;
  border-width: 2px;
}
.nav-menu ul li {
  font-size: 1.1rem;
  color: inherit;
  display: inline-block;
}
.nav-menu ul li a {
  margin: 0 2.5rem;
}
a:visited {
  color: inherit;
}
#follow ul {
  padding: 0;
}

#am-button,
#about-button,
#work-button,
#contact-button {
  cursor: none;
  color: inherit;
}

.strike-through {
  display: block;
  position: relative;
}
.strike-through:before,
.strike-through:after {
  background: #ee6d56;
  content: '';
  height: 2px;
  margin-top: -0.5px;
  position: absolute;
  top: 50%;
  width: 0%;
}
.strike-through:before {
  left: -2.5px;
}
.strike-through:after {
  background: #ee6d56;
  right: 2.5px;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.strike-through:hover:before {
  background: #ee6d56;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  width: 100%;
}
.strike-through:hover:after {
  background: transparent;
  transition: 0s;
  width: 100%;
}

/* MAIN */
main {
  height: fit-content;
  top: 25px;
}

#line-left {
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards ;
  animation-timing-function: ease-in;
  position: relative;
  bottom: 24.5rem;
  left: -24.5rem;
}
#line-about-me {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  position: relative;
  bottom: 2rem;
  stroke-width: 3;
  left: 400px;
}

#line-work {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards ;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  position: relative;
  bottom: 0.5rem;
  stroke-width: 3;
}
#line-contact {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards ;
  animation-delay: 2s;
  animation-timing-function: ease-in;
  position: relative;
  bottom: 0.5rem;
  stroke-width: 3;
}
#line-vertical{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards ;
  animation-timing-function: ease-in;
  position: relative;
  bottom: 33.6rem;
  left: 8rem;
  stroke-width: 3;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
main .section-container .name {
  padding-top: 2.8rem;
  text-align: right;
  z-index: 1;
  /* font-family: 'Archivo', sans-serif; */
  font-family: 'Snippet', sans-serif;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 11.7px;
  width: fit-content;
  left: 5%;
  position: relative;
}

main .section-container .name #mitchell{
  top: -2rem;
  position: relative;
}

.name-main {
  height: 25rem;
}
#l-letter {
  height: 49%;
  position: relative;
  top: -16rem;
  left: 7%;
}

main .dev-container {
  height: 0px;
  font-family: 'Karla';
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 3px;
  padding: 1rem;
  width: fit-content;
}
main .about {
  font-family: 'Karla', sans-serif;
  letter-spacing: 3px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 43rem;
  width: 45.5rem;
}

.section-header {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

#header-about {
  position: relative;
  letter-spacing: 22px;
  font-size: 1.5rem;
  left: -14rem;
}

#hello-section {
  font-family: 'Karla', sans-serif;
  height: 0;
  width: 0;
  font-size: 1rem;
  position: relative;
  top: -35.3rem;
  left: -17.7rem;
  opacity: 1;
}
#hello-text {
  position: relative;
  font-size: 4rem;
  top: -4.9rem;
  left: 11rem;
  letter-spacing: 4px;
  font-weight: 400;
  color: #ee6d56;
  opacity: 1;
  border-width: 2px;
  width: fit-content;
  border-color: #ee6d56;
  padding: 15px 50px 15px 15px;
  border-style: solid;
}

#main-hello:hover {
  cursor: none;
}

@keyframes text {
  0%{
    transform: rotateY(90deg) translateY(0%);
    opacity: 0.0;
  }
  100%{
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@-webkit-keyframes text {
  0%{
   -webkit-transform: rotateY(90deg) translateY(0%);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@keyframes reset {
  0%{}
  100%{}
}

@-webkit-keyframes reset {
  0%{}
  100%{}
}

#web-dev {
  right: -27%;
  position: relative;
  bottom: 15.7rem;
  text-align: center;
  padding: 5px;
}
#create-span {
  float: right;
  width: 23.0rem;
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
  letter-spacing: 5px;
  padding: 1rem;
  right: -12%;
  bottom: 14rem;
  cursor: none;
  position: relative;
} 
#create-something-link {
  margin: 0;
  width: 11rem;
  float: right;
  cursor: none;
  color: #ee6d56;
}

#about-text {
  width: 36rem;
  position: relative;
  float: left;
}
.intro-span {
  z-index: 98;
  height: fit-content;
  line-height: 1.4;
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-align: left;
}

#passionate-span {
  width: 26rem;
  font-style: italic;
  font-weight: 700;
  margin: 3rem 0 0 0;
}
#span-art, #span-design, #span-outdoors {
  width: 5rem;
  font-size: 5rem;
}
#extra-info-span {
  min-height: 40rem;
  text-align: justify;
  font-size: 3rem;
  font-family: 'Karla', sans-serif;
  top: 11vh;
  position: relative;
}
#headshot {
  width: 220px;
  position: relative;
  display: inline-block;
  padding: 1.5rem;
  border-radius: 50%;
  left: -56%;
  top: -23rem;
  display: none;
}
#about-hello-span {
  margin-right: 15rem;
}
#header-work {
  top: -4.79rem;
  position: relative;
  letter-spacing: 20px;
  width: fit-content;
}

/* WORK section */

#work-panel {
  margin: 35rem 0;
  min-height: 270vh;
}
#work-container {
  position: relative;
  font-family: 'Karla', sans-serif;
}
.work {
  height: 40rem;
}
.main-selected-container {
  display: flex;
  align-items: center;
  width: 42rem;
  justify-content: space-between;

}
.skills-container {
  width: fit-content;
  position: relative;
  text-align: right;
  margin: 4rem 0;
  height:fit-content;
  border-style: solid;
  border-width: 2px;
  padding: 0 20px 20px;
}
#skills-text {
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 0;
}
.project-container {
  color: inherit;
  font-size: 5.4rem;
  margin: 4rem 0;
  line-height: 1.5;
}
#selected-container {
  position: relative;
  margin: 0;
}
#selected-header {
  font-size: 2.5rem;
  letter-spacing: 6px;
  width: 42rem;
}
#selected-p {
  font-size: 2rem;
  width: 17rem;
  line-height: 1.3;
  font-weight: 100;
  line-height: 1.4;
  letter-spacing: 4px;
}
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* #flashcards a {
  cursor: none;
} */
#currently-wo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#seeker-header, 
#flashcards-header, 
#tip-header, 
#ccc-header,
#hcfa-header {
  width: 51rem;
  display: flex;
  flex-shrink: 1;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  letter-spacing: 6px;
  font-family: 'Karla', sans-serif;
}
#cwo-header {
  font-size: 2.5rem;
  margin: 4rem 0;
  letter-spacing: 3px;
}
#ccc-header {
  font-size: 4.14rem;
  margin-top: 4rem;
  line-height: 2;
}
#flashcards a:visited,
#seeker a:visited,
#tip a:visited 
{
  color: inherit;
}
#seeker a, 
#flashcards a,
#tip a 
{
  cursor: none;
}

#seeker:hover, 
#flashcards:hover,
#tip:hover
{
  color: #fff;
}
.number {
  font-size: 1.1rem;
  font-family: 'snippet';
  float: right;
  padding: 5px;
}

/* CONTACT  */

#contact-panel {
  height: 70vh;
  font-family: 'Karla', sans-serif;
}
#header-contact {
  margin-bottom: 6rem;
  position: relative;
  letter-spacing: 22px;
  font-size: 1.5rem;
  left: -10%;
}
#contact-container {
  font-size: 1.2rem;
  letter-spacing: 6px;
  position: relative;
  margin: 0;
  width: fit-content;
  left: 30%;
}

.email-container a {
  font-size: 1.5rem;
  color: inherit;
  cursor: none;
  width: fit-content;
  float: left;
}

.follow-container {
  margin-top: 1.5rem;
  display: inline-block;
  cursor: none;
}
#follow-link {
  display: inline-block;
  margin-right: 2rem;
}
#follow-link a {
  color: inherit;
  cursor: none;
}
h4 {
  font-size: 1.2rem;
  padding: 10px 0;
}

/* TABLET RESPONSIVE */

@media only screen and (max-width: 890px) {
  * {
    margin: 0 auto;
  }
  
  main .about {
    min-width: 24.5rem;
  }

  #header-about {
    left: -3.4rem;
    width: 290px;
  }

  #line-about-me {
    left: 290px;
    width: 200px;
  }
}

@media only screen and (max-width: 700px) {
  * {
    max-width: 700px;
  }

  main .about {
    min-width: 230px;
    width: 285px;
  }
  .menu {
    display: flex;
    font-family: 'karla', sans-serif;
    font-size: 1.3rem;
    position: fixed;
    top: 30px;
    left: 40px;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    letter-spacing: 6px;
  }
  .menu .nav-menu-mobile {
    float: left;
    display: flex;
    flex-direction: column;
  }
  .menu .nav-menu-mobile ul {
    padding: 0;
  }
  .nav-menu {
    display: none;
  }

  .nav-menu ul {
    transform: none;
  }
  #am-button, #about-button, #work-button, #contact-button {
    margin: 0 1rem;
  }
  #am-button {
    margin-left: 0.2rem;
  }
  .panel {
    width: 600px;
  }
  li {
    font-size: 1rem;
  }
  .am-nav {
    top: 30px;
    right: 40px;
  }
  main .section-container .name {
    left: 0;
    top: 5rem;
    width: 90%;
    font-size: 3rem;
  }
  main .section-container .name #mitchell {
    top: -1rem;
    left: -1.5rem;
    position: relative;
  }
  #abigail {
    right: 1.57rem;
    float: right;
    position: relative;
    width: fit-content;
  }

  #l-letter {
    height: 119px;
    position: relative;
    top: -9.58rem;
    left: -0.2rem;
  }
  #web-dev {
    right: 0;
    bottom: 3.7rem;
    text-align: end;
    margin-top: 2rem;
  }
  #create-span {
    width: fit-content;
    right: 0;
  }

  #hello-text, 
  #line-left,
  #line-about-me, 
  #line-work, 
  #line-vertical,
  #line-contact {
    display: none;
  }
  #header-container {
    top: 0;
  }
  #header-about {
    left: 0;
  }
  .intro-span, 
  #about-text {
    width: 100%;
    margin-bottom: 3rem;
  }
  #span-art, #span-design, #span-outdoors {
    width: 5rem;
    font-size: 3.5rem;
  }
  #work-container {
    margin-top: 12rem;
  }
  .work {
    margin-top: 4rem;
  }
  #header-work {
    top: 0;
  }
  #selected-header {
    font-size: 1.7rem;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 2rem;
  }
  #passionate-span {
    margin: 0;
    width: 100%;
  }
  #extra-info-span {
    width: 100%;
    font-size: 2rem;
  }
  .main-selected-container {
    flex-direction: column;
    width: fit-content;
  }
  .project-container {
    color: inherit;
    font-size: 2rem;
    width: 325px;

  }

  #seeker-header, #flashcards-header, #tip-header {
    text-align: center;
    width: 325px;
  }
  .contact-container {
    width: 100%;
  }
  #contact-container {
    left: 0;
  }
  #header-contact {
    left: 0;
    text-align: center;
  }

  .email-container a {
    color: inherit;
    font-size: 1rem;
  }
  #form-link:visited {
    color: inherit;
  }
  #follow ul {
    padding: 0;
  }

}

@media only screen and (max-width: 500px) {
  * {
    max-width: 500px;
  }
}

@media only screen and (max-width: 411px) {
  * {
    max-width: 411px;
  }
  #am-button {
    margin: 0;
  }
  #abigail {
    right: 1.9rem;
  }
  main .section-container .name #mitchell {
    left: -0.6rem;
    width: fit-content;
  }
  #l-letter {
    height: 119px;
    position: relative;
    top: -9.58rem;
    /* left: -1.5rem; */
  }
  #web-dev {
    bottom: 10.7rem;
  }
  #create-span {
    bottom: 5rem;
  }
  #contact-container {
    width: 100%;
  }
  .email-container a {
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 375px) {
  * {
    max-width: 375px;
  }
  #main-panel, #about-panel {
    height: 235vh;
  }
  main .section-container .name {
    font-size: 3rem;
  }
  #abigail {
    right: 1.7rem;
  }
  main .section-container .name #mitchell {
    left: -0.8rem;
  }
  #l-letter {
    height: 119px;
    position: relative;
    top: -9.58rem;
    left: -0.6rem;
  }
}

@media only screen and (max-width: 320px) {
  * {
    max-width: 320px;
  }
  main .section-container .name {
    font-size: 2rem;
  }
  /* .nav-menu {
    width: 150px;
  } */
  /* .project-container {
    font-size: 2rem;
    width: 100%;
  } */

  #seeker-header, #flashcards-header {
    text-align: center;
  }
  #work-panel {
    height: 280vh;
  }

  .email-container a {
    font-size: 1rem;
    letter-spacing: 2px;
  }
}